@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 28px;
  --footer-height: 28px;
  --body-height: calc(100vh - var(--header-height) -var(var(--footer-height)))
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
    background-image: url('/img/ui/macOS-ventura-dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root{
  width: 100vw;
  height: 100vh;
  position: relative;
}